- 
    var categories = [
        {title: 'pugjs', number: '2'},
        {title: 'vuejs', number: '5'},
        {title: 'gulpjs', number: '4'},
        {title: 'nodejs', number: '3'},
        {title: 'reactjs', number: '6'},
    ]   

aside
    .categories(data-aos="zoom-in-up" data-aos-duration='1000')
        .card
            div.card-header #[i.fa.fa-th-large] categories
            ul.list-group.list-group-flush
                - for (var num = 0; num < categories.length; num++)
                    li.list-group-item #{categories[num].title} #[span.badge.badge-pill #{categories[num].number} ]
                

    .last(data-aos="zoom-in-up" data-aos-duration='1000')
            .card
                div.card-header #[i.fa.fa-clock] last article
                img(src="./images/Images Section/news.jpg" class="card-img-top" alt="...")
                .card-body
                    h5.card-title title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

                ul.list-group.list-group-flush.xs-hidden.sm-hidden
                    li.list-group-item Cras justo odio<
                    li.list-group-item Dapibus ac facilisis in