mixin ImgTextSection(title, img, bg)
    section(class='text-img-section' data-bg=bg)
            .container
                h3.section-title.lg-hidden.md-hidden.xl-hidden= title
                .row
                    .col-md-6
                        .img 
                            img(src=img)
                    .col-md-6
                        .info
                            h3.section-title.sm-hidden.xs-hidden= title
                            p.card-text.lead Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500s, Lorem Ipsum Is Simply Dummy Text Of The Printing And Typeseting Industry.