mixin TextImgSection(title, img, bg)
    section(class='text-img-section' data-bg=bg)
            .container
                .row
                    .col-lg-6
                        .info
                            h3.section-title.h2= title
                            p.card-text.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typeseting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typeseting industry.
                    .col-lg-6
                        .img 
                            img(src=img)