mixin TextImgSection(title, img, bg)
    section(class='text-img-section' data-bg=bg)
            .container
                h3.section-title.lg-hidden.md-hidden.xl-hidden= title
                .row
                    .col-md-6(data-aos="zoom-out-right" data-aos-duration="1500" data-aos-easing="ease-in-sine")
                        .info
                            h3.section-title.xs-hidden.sm-hidden= title
                            p.card-text.lead Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500s, Lorem Ipsum Is Simply Dummy Text Of The Printing And Typeseting Industry.
                    .col-md-6(data-aos="zoom-out-left" data-aos-duration="1500" data-aos-easing="ease-in-sine")
                        .img 
                            img(src=img)