.go-to-button {
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 10px 35px;
    border-radius: 25px;
    color: #fff !important;
    overflow: hidden;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 18px;
    transition: all .5s ease-in-out ;
    text-decoration: none;
    &:hover {
        color: #fff
    }
}