.navbar{
  padding: 0;
  background: $BlueColor;
  .navbar-brand, .navbar-brand:active, .navbar-brand:focus, .navbar-brand:hover {
    color: $OrangeColor
  }
  .navbar-nav {
    .nav-item {
      a.nav-link {
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        text-transform: capitalize;
        cursor: pointer;
      }
    }
  }
}


@media  (max-width: 991px)  {
 .navbar{
    .navbar-nav {
      .nav-item {
        text-align: center;
        a.nav-link {
          padding: 10px 20px;
          margin: 0 auto;
          width: 90%;
        }
      }
    }
  }
}

/*
@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px){

}
*/