.top-banar {
    height: 500px;
    background-image: url('../images/Backgrounds\ And\ Banars/Subtle-Prism.svg') ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h2 {
        text-transform: capitalize;
        color: #fff;
        font-size: 48px;
        text-align: center;
        span {
            color: $OrangeColor
        }
    }
    span.donw {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        i {
            font-size: 70px;
            color: $OrangeColor;
            cursor: pointer
        }
    }
}