.articles{
    @extend %NormalSection;
    .page-link{
        @extend %Transition;
        color: $BlueColor;
        outline-color: $BlueColor;
    }
}

.subscribe .info{
    text-align: center;
    form{
        justify-content: center
    }
}

.categories, .last {
    margin-bottom: 50px;
}
.last{
    img{
        width:100%;
    }
    .card-body{
        padding: 10px;

    }
}