.games{
    @extend %NormalSection;
    text-align: center;
    .card{
        margin: 0 auto 40px;
        border: none;
        @extend %RightBottomBXShadow;
        figcaption{
            color: $BlueColor;
        }
        
        .card-body{
            display: flex;
            align-content: center;
            h5{
                margin: 0 auto
            }
        }
        &:hover{
            @extend %hoverShadowEffect
        }
    }
}


.game-types{
    @extend %NormalSection;
    text-align: center;
    .card {
        margin-bottom: 50px;
        text-align: left;
    }
}



.trainers{
    @extend %NormalSection;
    .swiper-container {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
        
        .swiper-slide {
            border-radius: 10px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
                
                width: 100%;
                padding: 0;
                cursor: default;
                img{width: 100%}
                overflow: hidden;
                figcaption{
                    li{
                        text-align: left;
                        color: $OrangeColor;
                        padding: 5px;
                        font-size: 16px;
                        span{
                            color: $BlueColor
                        }
                    }
                }
                .card-body{
                    text-align: center;
                }
                .card-footer{
                    ul{
                        display: flex;
                        justify-content: space-evenly;
                        a{
                            color: $BlueColor;
                            display: inline-block;
                            
                        }
                        
                    }
                }
                
            }
          }
          cursor: grab
      }
}
