.signle-article{
    @extend %NormalSection;
    .card{
        img{width: 100%}
        .card-header{
            color: $BlueColor
        }
        .card-footer{
            color: $BlueColor;
            text-align: center;
        }
        p{
            line-height: 1.8;

        }
    }
}