-
    var Articles = [
        {time: '8 hour', title: 'article title', disc: 'Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc.', views: '132'},
        {time: '16 hour ', title: 'article title', disc: 'Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc.', views: '123'},
        {time: '20 hour', title: 'article title', disc: 'Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc.', views: '213'},
        {time: '1 day', title: 'article title', disc: 'Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc.', views: '231'},
        {time: '2 day', title: 'article title', disc: 'Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc.', views: '312'},
    ]




