-
    const Features = [
        {img: './images/Featuers/gym.svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
        {img: './images/Featuers/gym.svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
        {img: './images/Featuers/gym.svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
    ]