-
    const Features = [
        {img: './images/undraw_healthy_habit_bh5w (1).svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
        {img: './images/undraw_healthy_habit_bh5w (1).svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
        {img: './images/undraw_healthy_habit_bh5w (1).svg', title: 'Feature title', disc: 'Some quick example text to build on the card title'},
    ]