- 
    var gamesList = [
        {img: './images/gym.svg', title: 'body building', url: '#'},
        {img: './images/ninja.svg', title: 'kick box', url: '#'},
        {img: './images/gym.svg', title: 'boxing', url: '#'},
        {img: './images/ninja.svg', title: 'Kung Fu', url: '#'},
        {img: './images/ninja.svg', title: 'Karate', url: '#'},
        {img: './images/gym.svg', title: 'Taekwondo', url: '#'},
        {img: './images/ninja.svg', title: 'Aikido', url: '#'},
        {img: './images/gym.svg', title: 'muay thai', url: '#'},
        {img: './images/gym.svg', title: 'Jiu Jitsu', url: '#'},
        {img: './images/ninja.svg', title: 'fitness', url: '#'},
        {img: './images/gym.svg', title: 'Parkour', url: '#'},
        {img: './images/ninja.svg', title: 'Gymnastics', url: '#'},
    ]