-
    var GamesTypes = [
        {img: './images/games types/dumbbell.svg', title: 'bodybuilding',
        disc: 'This is a wider card with supporting text below as a natural lead-in to additional content.'},

        {img: './images/games types/line.svg', title: 'fitness',
        disc: 'This is a wider card with supporting text below as a natural lead-in to additional content.'},

        {img: './images/games types/glove.svg', title: 'Martial Arts',
        disc: 'This is a wider card with supporting text below as a natural lead-in to additional content.'},

        {img: './images/games types/cup.svg', title: 'Tournaments',
        disc: 'This is a wider card with supporting text below as a natural lead-in to additional content.'},
    ]