- 
    var PlanPrice = [
        {
            level: 'bronze',
            items: [
                'some features',
                'some features',
                'some features',
                'some features',
            ],
            price: 35
        },
        {
            level: 'silver',
            items: [
                'some features',
                'some features',
                'some features',
                'some features',
            ],
            price: 60
        },
        {
            level: 'gold',
            items: [
                'some features',
                'some features',
                'some features',
                'some features',
            ],
            price: 115
        },
        {
            level: 'VIP',
            items: [
                'some features',
                'some features',
                'some features',
                'some features',
            ],
            price: 200
        },
    ]