-
    const NavBarLinks = [
        {url: './index.html', text: 'home'},
        {url: './games.html', text: 'games'},
        {url: './articles.html', text: 'Articles'},
        {url: './contact.html', text: 'contact'},
    ]