-
    var Statistic = [
        {icon: 'fa fa-dumbbell', title: 'tools', number: '42'},
        {icon: 'fa fa-gamepad', title: 'games', number: '18'},
        {icon: 'fa fa-star', title: 'years', number: '12'},
        {icon: 'fa fa-users', title: 'Trainers', number: '12'},
        {icon: 'fa fa-syringe', title: 'Treatment', number: '72'},
        {icon: 'fa fa-bicycle', title: 'Machiens', number: '28'},
        {icon: 'fa fa-trophy', title: 'Cups', number: '6'},
        {icon: 'fa fa-user-tie', title: 'Clients', number: '295'},
    ]