-
    var Trainers = [
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-2.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-3.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-2.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-3.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-2.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/team-3.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        },
        {
            img: './images/trainers/tema-1.jpg',
            name: 'mohamed ahmed',
            info: [
                {type: 'sports', val: 'kong fu'},
                {type: 'age', val: '32'},
                {type: 'experience', val: '8 years'},
            ],
            social : [
                {url: '#facebook', icon: 'fab fa-facebook'},
                {url:'#twitter',icon: 'fab fa-twitter'},
                {url:'#instagram',icon: 'fab fa-instagram'},
                {url:'#linkedin',icon: 'fab fa-linkedin'},
            ]
        }
    ]
