-
    var whyUsPointes = [
        {icon: 'fa fa-dumbbell', title: 'all tools'},
        {icon: 'fa fa-users', title: 'poupler sports'},
        {icon: 'fa fa-star', title: 'good trainers'},
        {icon: 'fa fa-check', title: 'medals'},
    ]