include ./pug/Helpers/Variables
include ./pug/components/TopBanar
include ./pug/Data/Articles

doctype
html
    head
        include ./pug/Helpers/HeadCalls
        title #{ThemeName} | Single Article
    body
        // Navbar
        include ./pug/components/Navbar
        // Navbar
        +TopBanar(ThemeName, 'Single Article')
        section.signle-article
            .container
                .row
                    .col-lg-8
                        .card
                            .card-header: h4.card-title Card title
                            img(src="./images/food.jpg" class="card-img-top" alt="...")
                            .card-body
                                
                                .media
                                    .media-body
                                        p.card-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibusCras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibusCras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
                            .card-footer #[span #[i.fa.fa-eye] 23]

                    .col-lg-4
                        include ./pug/components/Aside
                                                                