include ./pug/Helpers/Variables
include ./pug/components/Buttons
include ./pug/components/TopBanar
include ./pug/Data/GamesTypes
include ./pug/Data/GamesList
include ./pug/Data/Statistics
include ./pug/Data/Trainers
doctype
html
    head
        include ./pug/Helpers/HeadCalls
        title #{ThemeName} | Trainers Page
    body
        // Navbar
        include ./pug/components/Navbar
        // Navbar
        +TopBanar(ThemeName, 'trainers')

        section.aboute-section#about
            .container
                .row
                    .col-lg-6
                        .info
                            h3.section-title.h2 awesome trainres
                            p.card-textWith.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typeseting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typeseting industry.
                    .col-lg-6
                        .img 
                            img(src='./images/trainers.jpg')